@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.subscription-page {
    background-color: #fff7e4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .subscription-page .overlap-wrapper {
    background-color: #fff7e4;
    width: 1512px;
    height: 982px;
  }
  
  .subscription-page .overlap {
    position: relative;
    height: 982px;
  }
  
  .subscription-page .overlap-group {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
  }
  
  .subscription-page .rectangle {
    position: absolute;
    width: 1512px;
    height: 12px;
    top: 0;
    left: 0;
    background-color:#ed92c4 ;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .div {
    position: absolute;
    width: 1509px;
    height: 790px;
    top: 192px;
    left: 3px;
    background-color: #dbcdf0;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .rectangle-2 {
    position: absolute;
    width: 13px;
    height: 982px;
    top: 0;
    left: 1499px;
    background-color: #c6def1;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .rectangle-3 {
    position: absolute;
    width: 13px;
    height: 982px;
    top: 0;
    left: 0;
    background-color: #c9e4de;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .cer {
    position: absolute;
    width: 279px;
    height: 257px;
    top: 649px;
    left: 620px;
    border-radius: 139.36px / 128.5px;
    border: 5px solid;
    border-color: #ed92c4;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .overlap-2 {
    position: relative;
    width: 224px;
    height: 206px;
    top: 26px;
    left: 26px;
    border-radius: 112.02px / 103.02px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .ellipse {
    position: absolute;
    width: 172px;
    height: 159px;
    top: 18px;
    left: 22px;
    border-radius: 85.79px / 79.42px;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .ellipse-2 {
    position: absolute;
    width: 125px;
    height: 116px;
    top: 38px;
    left: 45px;
    border-radius: 62.56px / 58.07px;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .overlap-group-wrapper {
    position: absolute;
    width: 137px;
    height: 126px;
    top: 290px;
    left: 1362px;
    border-radius: 68.33px / 63px;
    border: 5px solid;
    border-color:  #ed92c4;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .overlap-3 {
    position: relative;
    width: 110px;
    height: 101px;
    top: 13px;
    left: 13px;
    border-radius: 54.92px / 50.51px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .ellipse-3 {
    position: absolute;
    width: 84px;
    height: 78px;
    top: 6px;
    left: 8px;
    border-radius: 42.06px / 38.94px;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .ellipse-4 {
    position: absolute;
    width: 61px;
    height: 57px;
    top: 16px;
    left: 20px;
    border-radius: 30.67px / 28.47px;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .text-wrapper {
    top: 226px;
    position: absolute;
    width: 64px;
    left: 26px;
    -webkit-text-stroke: 3px  #ed92c4;
    font-family: "Jockey One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .text-wrapper-2 {
    top: 832px;
    position: absolute;
    width: 64px;
    left: 26px;
    -webkit-text-stroke: 3px  #ed92c4;
    font-family: "Jockey One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .emojione-monotone {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 289px;
    left: 410px;
  }
  
  .subscription-page .try-little {
    position: absolute;
    width: 569px;
    top: 292px;
    left: 47px;
    -webkit-text-stroke: 4px  #ed92c4;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .subscription-page .enjoy-a-delightful {
    position: absolute;
    width: 501px;
    top: 351px;
    left: 47px;
    -webkit-text-stroke: 4px  #ed92c4;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .subscription-page .LPP {
    position: absolute;
    width: 552px;
    height: 256px;
    top: 436px;
    left: 51px;
  }
  
  .subscription-page .here-s-what-you-get {
    position: absolute;
    width: 479px;
    top: -4px;
    left: 67px;
    -webkit-text-stroke: 4px #ed92c4;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .subscription-page .fluent-emoji-flat {
    position: absolute;
    width: 53px;
    height: 37px;
    top: 112px;
    left: 0;
  }
  
  .subscription-page .emojione-laptop {
    position: absolute;
    width: 46px;
    height: 34px;
    top: 166px;
    left: 4px;
  }
  
  
  .subscription-page .dashicons-games {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: 8px;
  }
  
  .subscription-page .learn-play-and-grow {
    position: absolute;
    width: 509px;
    top: 739px;
    left: 47px;
    -webkit-text-stroke: 4px  #ed92c4;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .subscription-page .ion-card-sharp {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 477px;
    left: 802px;
  }
  
  .subscription-page .stash-data-date {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 560px;
    left: 798px;
  }
  
  .subscription-page .little-programmer {
    position: absolute;
    width: 737px;
    height: 676px;
    top: 279px;
    left: 716px;
  }
  
  .subscription-page .overlap-4 {
    position: relative;
    width: 729px;
    height: 676px;
    background-color: #fefbf3;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px #00000040;
  }
  
  .subscription-page .SYFT {
    position: absolute;
    width: 366px;
    height: 56px;
    top: 455px;
    left: 179px;
  }
  
  .subscription-page .start-your-free-wrapper {
    position: relative;
    width: 364px;
    height: 56px;
    background-color:  #ed92c4;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .start-your-free {
    position: absolute;
    width: 335px;
    top: 6px;
    left: 13px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .element {
    position: absolute;
    width: 622px;
    height: 12px;
    top: 113px;
    left: 52px;
  }
  
  .subscription-page .rectangle-4 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .subscription-page .rectangle-5 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 166px;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .subscription-page .rectangle-6 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 332px;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .subscription-page .rectangle-7 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 498px;
    background-color:  #ed92c4;
    border-radius: 7px;
  }
  
  .subscription-page .box {
    position: absolute;
    width: 464px;
    height: 48px;
    top: 188px;
    left: 76px;
  }
  
  .subscription-page .div-wrapper {
    position: relative;
    width: 462px;
    height: 48px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color:    #ed92c4;
  }
  
  .subscription-page .text-wrapper-3 {
    position: absolute;
    width: 147px;
    top: 16px;
    left: 29px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .text-wrapper-4 {
    position: absolute;
    width: 147px;
    top: 170px;
    left: 54px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .text-wrapper-5 {
    position: absolute;
    width: 147px;
    top: 256px;
    left: 47px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .text-wrapper-6 {
    position: absolute;
    width: 408px;
    top: 44px;
    left: 41px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color:   #ed92c4;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .subscription-page .box-2 {
    width: 182px;
    top: 274px;
    left: 67px;
    position: absolute;
    height: 48px;
  }
  
  .subscription-page .overlap-5 {
    position: relative;
    width: 180px;
    height: 48px;
  }
  
  .subscription-page .rectangle-8 {
    position: absolute;
    width: 171px;
    height: 48px;
    top: 0;
    left: 9px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color:   #ed92c4;
  }
  
  .subscription-page .text-wrapper-7 {
    position: absolute;
    width: 153px;
    top: 17px;
    left: 0;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .overlap-6 {
    position: absolute;
    width: 191px;
    height: 48px;
    top: 274px;
    left: 286px;
  }
  
  .subscription-page .box-3 {
    width: 191px;
    top: 0;
    left: 0;
    position: absolute;
    height: 48px;
  }
  
  .subscription-page .overlap-7 {
    position: relative;
    width: 189px;
    height: 48px;
  }
  
  .subscription-page .rectangle-9 {
    position: absolute;
    width: 171px;
    height: 48px;
    top: 0;
    left: 18px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color:   #ed92c4;
  }
  
  .subscription-page .iconamoon-credit {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 7px;
    left: 28px;
  }
  
  .subscription-page .text-wrapper-8 {
    position: absolute;
    width: 147px;
    top: 256px;
    left: 285px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .overlap-8 {
    position: absolute;
    width: 1272px;
    height: 87px;
    top: 53px;
    left: 93px;
    background-color: #dbcdf0;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .log-in {
    position: absolute;
    width: 114px;
    height: 46px;
    top: 20px;
    left: 1144px;
  }
  
  .subscription-page .overlap-group-2 {
    position: relative;
    width: 112px;
    height: 46px;
    background-color:  #ed92c4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .subscription-page .text-wrapper-9 {
    position: absolute;
    width: 77px;
    top: 11px;
    left: 22px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .about-us {
    position: absolute;
    width: 100px;
    height: 11px;
    top: 34px;
    left: 1014px;
  }
  
  .subscription-page .programs {
    position: relative;
    width: 119px;
    height: 14px;
    top: -3px;
    left: 3px;
  }
  
  .subscription-page .ellipse-5 {
    position: absolute;
    width: 6px;
    height: 5px;
    top: 9px;
    left: 0;
    background-color: #ffda79;
    border-radius: 3px / 2.5px;
  }
  
  .subscription-page .programs-2 {
    position: absolute;
    width: 100px;
    top: -2px;
    left: 18px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .subscription-page .home {
    position: absolute;
    width: 100px;
    height: 11px;
    top: 33px;
    left: 914px;
  }
  
  .subscription-page .littile-programmer {
    position: absolute;
    width: 242px;
    height: 49px;
    top: 19px;
    left: 29px;
  }
  
  .subscription-page .hugeicons-ai {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 0;
  }
  
  .subscription-page .text-wrapper-10 {
    position: absolute;
    width: 180px;
    top: 10px;
    left: 59px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .feature-icons {
  position: absolute;
  top: 420px;
  left: 90px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

.feature-icons svg {
  width: 40px;
  height: auto;
}
