@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.sign-in-page {
    background-color: #fff7e4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-in-page .overlap-wrapper {
    background-color: #fff7e4;
    overflow: hidden;
    width: 1512px;
    height: 982px;
  }
  
  .sign-in-page .overlap {
    position: relative;
    width: 1515px;
    height: 991px;
    left: -3px;
  }
  
  .sign-in-page .overlap-group {
    position: absolute;
    width: 1515px;
    height: 991px;
    top: 0;
    left: 0;
  }
  
  .sign-in-page .rectangle {
    position: absolute;
    width: 1512px;
    height: 12px;
    top: 0;
    left: 3px;
    background-color: #f7b5d9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .div {
    position: absolute;
    width: 1509px;
    height: 790px;
    top: 201px;
    left: 0;
    background-color: #dbcdf0;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .rectangle-2 {
    position: absolute;
    width: 13px;
    height: 982px;
    top: 0;
    left: 1502px;
    background-color: #c6def1;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .rectangle-3 {
    position: absolute;
    width: 13px;
    height: 982px;
    top: 0;
    left: 3px;
    background-color: #c9e4de;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .cer {
    position: absolute;
    width: 331px;
    height: 305px;
    top: 531px;
    left: 275px;
    border-radius: 165.39px / 152.5px;
    border: 5px solid;
    border-color: #f7b5d9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .overlap-2 {
    position: relative;
    width: 266px;
    height: 245px;
    top: 31px;
    left: 31px;
    border-radius: 132.94px / 122.27px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse {
    position: absolute;
    width: 204px;
    height: 189px;
    top: 23px;
    left: 27px;
    border-radius: 101.81px / 94.26px;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-2 {
    position: absolute;
    width: 148px;
    height: 138px;
    top: 47px;
    left: 55px;
    border-radius: 74.25px / 68.91px;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .overlap-group-wrapper {
    width: 177px;
    height: 163px;
    top: 291px;
    left: 1043px;
    border-radius: 88.5px / 81.6px;
    position: absolute;
    border: 5px solid;
    border-color: #f7b5d9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .overlap-3 {
    position: relative;
    width: 142px;
    height: 131px;
    top: 17px;
    left: 17px;
    border-radius: 71.13px / 65.42px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-3 {
    width: 109px;
    height: 101px;
    top: 10px;
    left: 12px;
    border-radius: 54.48px / 50.44px;
    position: absolute;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-4 {
    width: 79px;
    height: 74px;
    top: 23px;
    left: 27px;
    border-radius: 39.73px / 36.88px;
    position: absolute;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .div-wrapper {
    width: 93px;
    height: 86px;
    top: 353px;
    left: 82px;
    border-radius: 46.64px / 43px;
    position: absolute;
    border: 5px solid;
    border-color: #f7b5d9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .overlap-4 {
    position: relative;
    width: 75px;
    height: 69px;
    top: 9px;
    left: 9px;
    border-radius: 37.48px / 34.48px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-5 {
    width: 57px;
    height: 53px;
    top: 3px;
    left: 4px;
    border-radius: 28.71px / 26.58px;
    position: absolute;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-6 {
    width: 42px;
    height: 39px;
    top: 10px;
    left: 12px;
    border-radius: 20.94px / 19.43px;
    position: absolute;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .cer-2 {
    width: 77px;
    height: 71px;
    top: 652px;
    left: 1329px;
    border-radius: 38.5px / 35.5px;
    position: absolute;
    border: 5px solid;
    border-color: #f7b5d9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .overlap-5 {
    position: relative;
    width: 62px;
    height: 57px;
    top: 7px;
    left: 7px;
    border-radius: 30.95px / 28.46px;
    border: 5px solid;
    border-color: #3ea9ff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-7 {
    width: 47px;
    height: 44px;
    top: 1px;
    left: 2px;
    border-radius: 23.7px / 21.94px;
    position: absolute;
    border: 5px solid;
    border-color: #ac78faad;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .ellipse-8 {
    width: 35px;
    height: 32px;
    top: 7px;
    left: 9px;
    border-radius: 17.28px / 16.04px;
    position: absolute;
    border: 5px solid;
    border-color: #93d7c8;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .emojione-rocket {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 670px;
    left: 114px;
  }
  
  .sign-in-page .game {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 376px;
    left: 110px;
    background-image: url(./img/fxemoji-oldpersonalcomputer.svg);
    background-size: 100% 100%;
  }
  
  .sign-in-page .rectangle-4 {
    position: absolute;
    width: 729px;
    height: 676px;
    top: 238px;
    left: 412px;
    background-color: #fefbf3;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px #00000040;
  }
  
  .sign-in-page .element {
    position: absolute;
    width: 622px;
    height: 12px;
    top: 384px;
    left: 461px;
  }
  
  .sign-in-page .rectangle-5 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .sign-in-page .rectangle-6 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 166px;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .sign-in-page .rectangle-7 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 332px;
    background-color: #f7b5d9;
    border-radius: 7px;
  }
  
  .sign-in-page .rectangle-8 {
    position: absolute;
    width: 124px;
    height: 12px;
    top: 0;
    left: 498px;
    background-color: #d9d9d9;
    border-radius: 7px;
  }
  
  .sign-in-page .text-wrapper {
    position: absolute;
    width: 651px;
    top: 315px;
    left: 453px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #f2c6de;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .s {
    position: absolute;
    width: 337px;
    height: 56px;
    top: 740px;
    left: 612px;
  }
  
  .sign-in-page .overlap-6 {
    position: relative;
    width: 335px;
    height: 56px;
    left: -1px;
  }
  
  .sign-in-page .rectangle-9 {
    position: absolute;
    width: 193px;
    height: 56px;
    top: 0;
    left: 69px;
    background-color: #f7b5d9;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .start-your-free {
    position: absolute;
    width: 335px;
    top: 5px;
    left: 0;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-in-page .text-wrapper-2 {
    position: absolute;
    top: 446px;
    left: 479px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #f7b5d9;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .p {
    position: absolute;
    width: 102px;
    height: 38px;
    top: 488px;
    left: 485px;
  }
  
  .sign-in-page .overlap-7 {
    position: relative;
    width: 100px;
    height: 38px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color: #f7b5d9;
  }
  
  .sign-in-page .text-wrapper-3 {
    position: absolute;
    width: 68px;
    top: 11px;
    left: 15px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-in-page .s-2 {
    position: absolute;
    width: 102px;
    height: 38px;
    top: 488px;
    left: 627px;
  }
  
  .sign-in-page .text-wrapper-4 {
    position: absolute;
    top: 530px;
    left: 479px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #f7b5d9;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .WTSFML {
    position: absolute;
    width: 218px;
    height: 30px;
    top: 576px;
    left: 483px;
  }
  
  .sign-in-page .overlap-8 {
    position: relative;
    width: 216px;
    height: 30px;
  }
  
  .sign-in-page .rectangle-10 {
    position: absolute;
    width: 212px;
    height: 30px;
    top: 0;
    left: 2px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color: #f7b5d9;
  }
  
  .sign-in-page .text-wrapper-5 {
    position: absolute;
    width: 216px;
    top: 8px;
    left: 0;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .JWTFT {
    position: absolute;
    width: 218px;
    height: 30px;
    top: 576px;
    left: 739px;
  }
  
  .sign-in-page .text-wrapper-6 {
    position: absolute;
    top: 633px;
    left: 479px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #f7b5d9;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .ATFT {
    position: absolute;
    width: 129px;
    height: 30px;
    top: 675px;
    left: 485px;
  }
  
  .sign-in-page .overlap-9 {
    position: relative;
    width: 127px;
    height: 30px;
    background-color: #fff7e4;
    border-radius: 4px;
    border: 1px solid;
    border-color: #f7b5d9;
  }
  
  .sign-in-page .text-wrapper-7 {
    position: absolute;
    width: 119px;
    top: 7px;
    left: 4px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .TW {
    position: absolute;
    width: 129px;
    height: 30px;
    top: 675px;
    left: 645px;
  }
  
  .sign-in-page .TM {
    position: absolute;
    width: 129px;
    height: 30px;
    top: 675px;
    left: 801px;
  }
  
  .sign-in-page .JE {
    position: absolute;
    width: 129px;
    height: 30px;
    top: 675px;
    left: 959px;
  }
  
  .sign-in-page .subscription {
    position: absolute;
    width: 162px;
    height: 46px;
    top: 831px;
    left: 454px;
  }
  
  .sign-in-page .overlap-10 {
    position: relative;
    width: 160px;
    height: 46px;
    background-color: #f7b5d9;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .text-wrapper-8 {
    position: absolute;
    width: 122px;
    top: 11px;
    left: 21px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-in-page .vector {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 24px;
    left: 130px;
  }
  
  .sign-in-page .img {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 11px;
    left: 122px;
  }
  
  .sign-in-page .text-wrapper-9 {
    position: absolute;
    width: 475px;
    top: 844px;
    left: 648px;
    font-family: "Alfa Slab One-Regular", Helvetica;
    font-weight: 400;
    color: #f7b5d9;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-in-page .overlap-11 {
    position: absolute;
    width: 1272px;
    height: 87px;
    top: 53px;
    left: 96px;
    background-color: #dbcdf0;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .log-in {
    position: absolute;
    width: 114px;
    height: 46px;
    top: 20px;
    left: 1144px;
  }
  
  .sign-in-page .overlap-group-2 {
    position: relative;
    width: 112px;
    height: 46px;
    background-color: #f7b5d9;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .sign-in-page .text-wrapper-10 {
    position: absolute;
    width: 77px;
    top: 11px;
    left: 22px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-in-page .about-us {
    position: absolute;
    width: 100px;
    height: 11px;
    top: 33px;
    left: 1014px;
  }
  
  .sign-in-page .programs {
    position: relative;
    width: 119px;
    height: 14px;
    top: -3px;
    left: 3px;
  }
  
  .sign-in-page .ellipse-9 {
    position: absolute;
    width: 6px;
    height: 5px;
    top: 9px;
    left: 0;
    background-color: #ffda79;
    border-radius: 3px / 2.5px;
  }
  
  .sign-in-page .programs-2 {
    position: absolute;
    width: 100px;
    top: -2px;
    left: 18px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-in-page .home {
    position: absolute;
    width: 100px;
    height: 11px;
    top: 33px;
    left: 914px;
  }
  
  .sign-in-page .littile-programmer {
    position: absolute;
    width: 242px;
    height: 49px;
    top: 19px;
    left: 29px;
  }
  
  .sign-in-page .hugeicons-ai {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 0;
  }
  
  .sign-in-page .text-wrapper-11 {
    position: absolute;
    width: 180px;
    top: 10px;
    left: 59px;
    -webkit-text-stroke: 1px #ffda79;
    font-family: "Alice-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  /* إخفاء الراديو الافتراضي */
input[type="radio"] {
    display: none;
  }
  
  /* تنسيق المربع */
  .radio-box {
    display: inline-block;
    border: 1px solid #f7b5d9;
    background-color: #fef6f9;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 6px;
    cursor: pointer;
    font-family: "Alice", serif;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #f5c2e7;
  }
  
  /* عند التحديد */
  input[type="radio"]:checked + label.radio-box {
    background-color: #f7b5d9;
    color: white;
    border-color: #f7b5d9;
  }
  